$very-dark-blue__bg: hsl(230, 17%, 14%);
$very-dark-blue__top-bg-pattern: hsl(232, 19%, 15%);
$dark-desaturated-blue__card-bg: hsl(228, 28%, 20%);
$desaturated-blue__text: hsl(228, 34%, 66%);
$white__text: hsl(0, 0%, 100%);
$toggle-btn-bg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
